<div class="container" id="container-wrap">
    <h1 class="mt-4" id="h1">View Content</h1>
    <hr>
    <div class="wrapper-view-content mt-3" id="wrapper-view-content">
        <p class="px-3 py-2 bg-light mb-3">View Content List</p>
        <div class="wrapper-table px-3">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Title</td>
                        <td>Brief</td>
                        <td>Created Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Lorem ipsumdolor sit amet</td>
                        <td>
                            Excepteur sint occaecat cupidatat non proient, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </td>
                        <td>
                            31/08/2016 <br> 12:04
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Vestibulum tincidunt est vitae</td>
                        <td>Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</td>
                        <td>31/06/2016 <br> 13:13</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Aliquam ornare lacus adipiscing</td>
                        <td>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
                        </td>
                        <td>01/09/2016 <br> 15:09</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>